version: '3.8'

services:
  seccomp-sandbox:
    build: .
    container_name: seccomp-sandbox
    # Required for seccomp to work
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_ADMIN
    volumes:
      - .:/app
    stdin_open: true
    tty: true
